In [1]:
import os
import sys
sys.path.append('..')

In [2]:
import pandas as pd
import numpy as np
import joblib
import json

In [3]:
#Загрузка обработанных данных
X_train = pd.read_csv('../data/processed/X_train.csv')
X_test = pd.read_csv('../data/processed/X_test.csv')
y_train = pd.read_csv('../data/processed/y_train.csv').squeeze()
y_test = pd.read_csv('../data/processed/y_test.csv').squeeze()

In [4]:
# Импортируем функции обучения модели
from src.training import *

# Лог регрессия

In [5]:
baseline = train_logreg(X_train, y_train)

In [6]:
baseline_params = baseline.get_params()

In [7]:
predicts = predict_with_model(baseline, X_test, threshold = 0.67)

In [8]:
metrics = evaluate_model(baseline, predicts, y_test)
metrics

Предсказано 1: 1164 из 8238
Истинных 1:    928 из 8238

{'model': 'LogisticRegression',
 'accuracy': 0.8747268754552076,
 'precision': 0.45532646048109965,
 'recall': 0.5711206896551724,
 'f1': 0.5066921606118547,
 'roc_auc': 0.8007282920184914}

In [9]:
features_df = get_feature_importances(baseline, X_train, list(X_train.columns))
features_df

                          feature  coefficient  abs_coefficient  rank
4                    emp.var.rate    -2.239683         2.239683     1
38                      month_mar     1.495544         1.495544     2
5                  cons.price.idx     1.103527         1.103527     3
34                      month_aug     0.679269         0.679269     4
33              contact_telephone    -0.627200         0.627200     5
35                      month_dec     0.618629         0.618629     6
48               poutcome_success     0.589604         0.589604     7
37                      month_jun    -0.567760         0.567760     8
39                      month_may    -0.429616         0.429616     9
7                       euribor3m     0.412281         0.412281    10
13                    job_retired     0.386646         0.386646    11
8                     nr.employed     0.382251         0.382251    12
40                      month_nov    -0.364570         0.364570    13
47           poutcome_nonexistent     0.308471         0.308471    14
42                      month_sep     0.280024         0.280024    15
2                           pdays    -0.246576         0.246576    16
41                      month_oct     0.243008         0.243008    17
16                    job_student     0.193968         0.193968    18
22             education_basic.6y     0.193052         0.193052    19
28                default_unknown    -0.188725         0.188725    20
36                      month_jul     0.188423         0.188423    21
21                 marital_single     0.160110         0.160110    22
43                day_of_week_mon    -0.154579         0.154579    23
1                        campaign    -0.115355         0.115355    24
19                    job_unknown     0.114295         0.114295    25
26    education_university.degree     0.109471         0.109471    26
27              education_unknown     0.106178         0.106178    27
6                   cons.conf.idx     0.099505         0.099505    28
15                   job_services    -0.095756         0.095756    29
46                day_of_week_wed     0.091951         0.091951    30
9                 job_blue-collar    -0.082824         0.082824    31
11                  job_housemaid    -0.082535         0.082535    32
3                        previous    -0.075601         0.075601    33
18                 job_unemployed    -0.070908         0.070908    34
20                marital_married     0.066099         0.066099    35
30                    housing_yes    -0.060693         0.060693    36
32                       loan_yes     0.051305         0.051305    37
10               job_entrepreneur     0.045722         0.045722    38
45                day_of_week_tue    -0.037109         0.037109    39
29                housing_unknown    -0.032639         0.032639    40
31                   loan_unknown    -0.032639         0.032639    41
24          education_high.school     0.031074         0.031074    42
12                 job_management     0.028135         0.028135    43
44                day_of_week_thu    -0.024234         0.024234    44
25  education_professional.course    -0.016968         0.016968    45
0                             age    -0.014004         0.014004    46
17                 job_technician     0.012016         0.012016    47
23             education_basic.9y    -0.007670         0.007670    48
14              job_self-employed    -0.005835         0.005835    49

In [11]:
#Сохранение результатов

joblib.dump(baseline, 'D:\\Projects\\bank_pet_project\\models\\baseline/baseline_logreg.pkl')


with open('D:\\Projects\\bank_pet_project\\models\\baseline/baseline_logreg_metrics.json', 'w') as f:
    json.dump(metrics, f, indent=2)

with open('D:\\Projects\\bank_pet_project\\models\\baseline/baseline_logreg_params.json', 'w') as f:
    json.dump(baseline_params, f, indent=2)

features_df.to_csv('D:\\Projects\\bank_pet_project\\models\\baseline\\baseline_features.csv', 
                   index=False, 
                   encoding='utf-8')